<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brkfuerth.de.helferlein" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="brkfuerth.de.helferlein.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="brkfuerth.de.helferlein.MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="brkfuerth.de.helferlein.Diensthabend"
            android:label="@string/title_activity_diensthabend"
            android:parentActivityName="brkfuerth.de.helferlein.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brkfuerth.de.helferlein.Menu" />
        </activity>
        <activity
            android:name="de.brkfuerth.helferlein.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="brkfuerth.de.helferlein.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brkfuerth.de.helferlein.MainMenu" />
        </activity>
        <activity
            android:name=".Alarmierungen"
            android:label="@string/title_activity_alarmierungen"
            android:parentActivityName="brkfuerth.de.helferlein.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brkfuerth.de.helferlein.MainMenu" />
        </activity>
    </application>

</manifest>
